<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testtoy.repository.LostarkRepository">
    <select id="getRaidData" resultType="com.example.testtoy.dto.RaidDataDto">
        SELECT *
        FROM public.raid
        ORDER BY raid_level
    </select>

    <insert id="insertRaidData" parameterType="com.example.testtoy.dto.RaidDataDto">
        INSERT INTO raid (
            raid_name,
            gold1,
            gold2,
            gold3,
            reward1,
            plus1,
            plus2,
            plus3
        )
        VALUES (
                   #{raidName},
                    <choose>
                        <when test="gold1 == null or gold1 == ''">NULL</when>
                        <otherwise>CAST(#{gold1} as INTEGER)</otherwise>
                    </choose>,
                    <choose>
                        <when test="gold2 == null or gold2 == ''">NULL</when>
                        <otherwise>CAST(#{gold2} as INTEGER)</otherwise>
                    </choose>,
                    <choose>
                        <when test="gold3 == null or gold3 == ''">NULL</when>
                        <otherwise>CAST(#{gold3} as INTEGER)</otherwise>
                    </choose>,
                    <choose>
                        <when test="reward1 == null or reward1 == ''">NULL</when>
                        <otherwise>#{reward1}</otherwise>
                    </choose>,
                    <choose>
                        <when test="plus1 == null or plus1 == ''">NULL</when>
                        <otherwise>#{plus1}</otherwise>
                    </choose>,
                    <choose>
                        <when test="plus2 == null or plus2 == ''">NULL</when>
                        <otherwise>#{plus2}</otherwise>
                    </choose>,
                    <choose>
                        <when test="plus3 == null or plus3 == ''">NULL</when>
                        <otherwise>#{plus3}</otherwise>
                    </choose>
               )
    </insert>

    <insert id="insertCharacterData" parameterType="list">
        INSERT INTO character (
        server_name,
        id,
        character_name_represent,
        character_name,
        class_name,
        item_max_level,
        class_type
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.serverName},
            '추가예정',
            #{item.representCharacterName},
            #{item.characterName},
            #{item.characterClassName},
            #{item.itemMaxLevel},
            #{item.classType}
            )
        </foreach>
    </insert>

    <delete id="deleteRaidData" parameterType="String">
        DELETE FROM public.raid
        WHERE raid_name = #{raidName};
    </delete>

    <select id="getRaidMatchInfo" resultType="com.example.testtoy.dto.RaidMatchDto">
        SELECT *
        FROM public.character_raid
        ORDER BY time
    </select>

</mapper>
